<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

	<event name="checkout_cart_product_add_after">
        <observer name="dolphin_checkout_cart_product_add_after"
                  instance="ColorOption\GroupCollection\Observer\SetAdditionalOptions"/>
    </event>

	
	<!--event name="sales_model_service_quote_submit_before">
        <observer name="unique_name" instance="ColorOption\GroupCollection\Observer\OrderItemAdditionalOptions" />
    </event-->
	
</config>